    @font-face {
        font-family: 'SF Pro Display Regular';
        src: url('../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'SF Pro Display Medium';
        src: url('../assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'SF Pro Display Bold';
        src: url('../assets/fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
        font-weight: 700;
        font-style: normal;
    }